{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <style>
        .btn-group {
            margin: 10px 0
        }
        .btn[disabled],.btn[disabled]:hover{
            background-color: #cccccc;
        }
        th,td{
            text-align: center;

        }


    </style>
{% endblock %}
{% block main_content %}

    <div class="page-header">
        <h1>设置页面</h1>
    </div>

    <div ng-app="configApp" ng-controller="busCtrl">
        <h3><label>定时任务管理</label></h3>
            <ul class="nav nav-tabs ">
                <li role="presentation" class="page-btn" id="lc-page" content="../lcsong">
                    <a>公　交                    </a>
                </li>
                <li role="presentation" class="page-btn  " id="ne-page" content="../play_url"><a>音　乐</a></li>
                <li role="presentation" class="page-btn " id="xm-page"><a>播　报</a></li>
            </ul>





        <hr/>

        <label>暂停公交报站：</label>
        <table class="table table-bordered table-hover text-center">
            <thead class="">
                <tr >
                    <th >#</th>
                    <th>暂停一天</th>
                    <th>停止</th>
                    <th>恢复</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="(b,s) in b_ss">
                    <td ><label  ng-bind="b" ></label></td>
                    <td><a class="btn btn-warning" ng-disabled="s==1" ng-click="setPauseBus(b,1)">暂停一天</a></td>
                    <td><a class="btn btn-danger" ng-disabled="s==-1" ng-click="setPauseBus(b,-1)">停止</a></td>
                    <td><a class="btn btn-success" ng-disabled="s==0" ng-click="setPauseBus(b,0)">恢复</a></td>
                </tr>
            </tbody>
        </table>
{#        <div class="btn-group btn-group-justified" role="group">#}
{##}
{#            <a class="btn btn-default bus-tell" {% if not _581 %}disabled{% endif %} role="button" content="581">#}
{#                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>#}
{#                停报581一天</a>#}
{#            <a class="btn btn-default bus-tell" {% if not _498 %}disabled{% endif %} role="button" content="498">#}
{#                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>#}
{#                停报498一天</a>#}
{##}
{#        </div>#}

{##}
{#        <div class="form-group">#}
{#            <label for="textToRead">要播报的内容：</label>#}
{#            <textarea class="form-control" id="textToRead"></textarea>#}
{#        </div>#}
{#     #}
{#        <button type="button" class="btn btn-primary" id="play">#}
{##}
{#            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 播报#}
{#        </button>#}


    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body" id="msg_body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script src="{{ url_for('static',filename = 'js/bootstrap-slider.min.js') }}"></script>
    <script>
        var app = angular.module('configApp',[]);
        app.controller('cfgCtrl',function($scope,$http){

        });
        app.controller('busCtrl',function ($scope,$http) {
            $http.post('../bus_status')
                    .success(function (data,status) {
                        if(status!=200) return;
                        $scope.b_ss = data;
                    });
            $scope.setPauseBus=function (bus,day) {
                if($scope.b_ss[bus] == day) return;
                $http({
                    url: '../pause-bus',
                    method: "POST",
                    data:  $.param({bus:bus,days:day}),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data,status) {
                    //alert(status);
                    if(status == 200) {//btn.addClass('disabled');
                        $scope.b_ss[bus] = day;
                    }
                });
            }

        });
        $(document).ready(function () {
            $('.bus-tell').click(function () {
                var btn = $(this);
                if(btn.attr('disabled')) return false;
                var d = {
                    bus:$(this).attr('content'),
                    days:1
                };
                $.post('../pause-bus', d, function (x, y) {
                    if(!x) btn.addClass('disabled');
                });

            });

        });
    </script>
{% endblock %}