{% extends "base.html" %}
{% block styles %}
    {{ super() }}
{#    <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">#}
    <style>
{#        .btn-group {#}
{#            margin: 10px 0#}
{#        }#}

        .btn[disabled], .btn[disabled]:hover {
            background-color: #cccccc;
        }

        th, td {
            text-align: center;

        }

        table.time input {
            //width: 50px;
            //padding: 0 0;
            text-align: center;
            height:32.8px;
        }

        a.btn.nav-link.btn-primary:hover{
            background-color: #286090;
            border-color:#204d74 ;
        }

        #bus-task div.input-group,div.form-group{
            margin-top: 10px;
        }

    </style>
{% endblock %}
{% block main_content %}

    <div class="page-header">
        <h3>定时任务管理</h3>
    </div>

    <div ng-app="configApp"  ng-controller="cfgCtrl">
{#        <h3><label>定时任务管理</label></h3>#}
        <ul class="nav nav-tabs ">
            <li role="presentation" class="page-btn " ng-class="{'active':current_type=='bus'}" ng-click="set_current_type('bus')">
                <a>公　交 </a>
            </li>
            <li role="presentation" class="page-btn  " ng-class="{'active':current_type=='music'}" ng-click="set_current_type('music')"><a>音　乐</a></li>
            <li role="presentation" class="page-btn " ng-class="{'active':current_type=='tell'}" ng-click="set_current_type('tell')"><a>播　报</a></li>
        </ul>
{#        <table class="table table-bordered table-hover text-center">#}
{#            <thead class="">#}
{#            <tr>#}
                {#                <th>#</th>#}
{#                <th>时间</th>#}
{#                <th>停止</th>#}
{#                <th>恢复</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr ng-repeat="t in group_tasks.bus">#}
                {#                <td><label ng-bind="t.id"></label></td>#}
                {#                <td>#}
                {#                    <uib-timepicker ng-model="t" ng-change="time_changed(t)" hour-step="1" minute-step="5" show-meridian="false" show-spinners="false"></uib-timepicker>#}
                {#                </td>#}
{#                <td class="text-center">#}
                    {#                    <input type="text" class="form-control" size="8" ng-model="time" bs-timepicker>#}
{#                    <table class="time">#}
{#                        <tr>#}
{#                            <td class="from-group"><input type="number" max="23" min="0" class="form-control"#}
{#                                                          maxlength="2" ng-model="t.hour"></td>#}
{#                            <td>:</td>#}
{#                            <td class="from-group"><input type="number" max="59" min="0" class="form-control"#}
{#                                                          ng-model="t.min" maxlength="2"></td>#}
{#                        </tr>#}
{#                    </table>#}
{##}
{#                </td>#}
{#                <td>#}
{#                    <label>#}
                        {#                        <uib-timepicker ng-model="t.date" ng-change="changed()" hour-step="1" minute-step="10" show-meridian="ismeridian"></uib-timepicker>#}
{#                        <input ng-model="t.args[0]"/>#}
{#                    </label>#}
{#                </td>#}
{#                <td><label>#}
{#                    <input ng-model="t.args[1]"/>#}
{#                </label></td>#}
{#                <td><label>#}
{#                    <input ng-model="t.args[2]"/>#}
{#                </label></td>#}
{#                <td>#}
{#                    <button class="btn" ng-click="send(t)"></button>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            </tbody>#}
{#        </table>#}

{#        <hr/>#}
        <div class="row form-group" id="bus-task">
            <div class="col-md-3 col-xs-4">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="t in cur_task_list" class="nav-item" role="presentation">
                        <a class="btn nav-link" ng-class="{'btn-primary':t===current_task}" ng-click="set_current_task(t)">{{t.hour}}:{{t.min}}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="btn btn-default"  ng-click="add_task()" disabled>添加任务</a>
                    </li>

                </ul>


            </div>


            <div class="col-md-9 col-xs-8">
                <div class="alert alert-sm" style="margin-bottom: 0"
                     ng-class="{'alert-success':current_task.pause_days==0,'alert-warning':current_task.pause_days>0,'alert-danger':current_task.pause_days<0,}">

                    <button class="btn btn-xs"
                            ng-class="{false: 'btn-danger', true: 'btn-success'}[current_task.pause_days<0]"
                            ng-click="current_task.pause_days=current_task.pause_days>=0?-1:0"><!--暂停-->
                            <span class="glyphicon"
                                  ng-class="{false: 'glyphicon-stop', true: 'glyphicon-play'}[current_task.pause_days<0]"
                                  aria-hidden="true">
                            </span>
                    </button>
                    <div class="pull-right " ng-show="current_task.type=='bus'">
                        <h4>
                            <label class="label label-lg label-success" ng-show="bus_status">正在报站</label>
                            <button class=" btn btn-xs btn-danger" ng-click="set_bus_status(false)" ng-show="bus_status"
                                >
                                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                            </button>
                            <button class="pull-right btn btn-xs btn-info" ng-show="!bus_status"
                                    ng-click="set_bus_status(true)">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </button>
                        </h4>
                    </div>


                    <span ng-bind="get_pause_state(current_task)"></span>
                    <span class="badge" ng-bind="current_task.pause_days>0?current_task.pause_days:''"></span>
                </div>
                <label>执行时间：</label>
                {#                <table class="time ">#}
                {#                    <tr>#}
                {#                        <td><label>执行时间：</label></td>#}
                {#                        <td>#}
                {#                            <div class="btn-group ">#}
                {##}
                {#                                <label class="btn btn-default" ng-model="current_task.workday"#}
                {#                                       ng-click="current_task.workday=!current_task.workday"#}
                {#                                       ng-class="{'btn-primary active':current_task.workday}">工作日</label>#}
                {#                                <label class="btn btn-default" ng-model="current_task.holiday"#}
                {#                                       ng-click="current_task.holiday=!current_task.holiday"#}
                {#                                       ng-class="{'btn-primary active':current_task.holiday}">节假日</label>#}
                {##}
                {#                            </div>#}
                {#                        </td>#}
                {#                        <td class="form-group"><input type="number" max="23" min="0" class="form-control" maxlength="2"#}
                {#                                                      ng-model="current_task.hour"></td>#}
                {#                        <td>:</td>#}
                {#                        <td class="form-group"><input type="number" max="59" min="0" class="form-control"#}
                {#                                                      ng-model="current_task.min" maxlength="2"></td>#}
                {#                    </tr>#}
                {#                </table>#}
                <div class="row ">
                    <div class=" col-md-4">
                        <div class="btn-group btn-group-justified" style="margin-top: 0">

                            <label class="btn btn-default" ng-model="current_task.workday"
                                   ng-click="current_task.workday=!current_task.workday"
                                   ng-class="{'btn-primary active':current_task.workday}">工作日</label>
                            <label class="btn btn-default" ng-model="current_task.holiday"
                                   ng-click="current_task.holiday=!current_task.holiday"
                                   ng-class="{'btn-primary active':current_task.holiday}">节假日</label>

                        </div>
                    </div>
                    <div class=" col-md-3" style="margin-bottom: 5px">
                        <table class="time ">
                            <tr>
                                {#                        <td><label>执行时间：</label></td>#}
                                {#                            <td>#}
                                {#                                <div class="btn-group">#}
                                {##}
                                {#                                    <label class="btn btn-default" ng-model="current_task.workday"#}
                                {#                                           ng-click="current_task.workday=!current_task.workday"#}
                                {#                                           ng-class="{'btn-primary active':current_task.workday}">工作日</label>#}
                                {#                                    <label class="btn btn-default" ng-model="current_task.holiday"#}
                                {#                                           ng-click="current_task.holiday=!current_task.holiday"#}
                                {#                                           ng-class="{'btn-primary active':current_task.holiday}">节假日</label>#}
                                {##}
                                {#                                </div>#}
                                {#                            </td>#}
                                <td class="form-group"><input type="number" max="23" min="0" class="form-control"
                                                              maxlength="2"
                                                              ng-model="current_task.hour"></td>
                                <td>:</td>
                                <td class="form-group"><input type="number" max="59" min="0" class="form-control"
                                                              ng-model="current_task.min" maxlength="2"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="input-group col-md-5" ng-hide="current_task.pause_days<0" style="margin-top: 0;padding: 0 15px">
                        <span class="input-group-addon">暂停</span>
                        <input class=" form-control" type="number" id="cnt" min="0" ng-model="current_task.pause_days"/>


                        <span class="input-group-addon">天</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 5px" ng-show="current_type=='bus'" ng-disabled="current_type!='bus'">

                    <label class="col-md-2 col-xs-12">
                        车次：<input ng-model="current_task.args[0]" class="form-control">
                    </label>
                    <label class="col-md-3  col-xs-12">
                        站台：<input ng-model="current_task.args[1]" class="form-control">
                    </label>
                    <label class="col-md-3  col-xs-12">
                        查询码：<input ng-model="current_task.args[2]" class="form-control">
                    </label>

                    <label class="col-md-2  col-xs-6">
                        播报次数：<input ng-model="current_task.args[3]" class="form-control">
                    </label>
                    <label class="col-md-2  col-xs-6">
                        播报间隔：
{#                        <input ng-model="current_task.args[2]" class="form-control">#}
                        <div class="input-group" style="margin-top: 0;padding: 0 0">
{#                        <span class="input-group-addon">播报</span>#}
                        <input class="form-control" type="number" min="0" ng-model="current_task.args[4]"/>


                        <span class="input-group-addon">秒</span>
                        </div>
                    </label>
                </div>
                <div class="row" style="margin-top: 5px" ng-show="current_type=='music'">
                    <label class="col-md-10 col-xs-12">
                        URL：<input ng-model="current_task.args[0]" class="form-control">
                    </label>
                    <label class="col-md-2  col-xs-12">
                        音量：<input ng-model="current_task.args[3]" type="number" min="0" max="100" class="form-control">
                    </label>
                    <div class="input-group col-md-4 col-xs-12" ng-hide="current_task.pause_days<0" style="margin-top: 0;padding: 0 15px">
                        <span class="input-group-addon">播放</span>
                        <input class=" form-control" type="number" id="cnt" min="0" ng-model="current_task.args[1]"/>


                        <span class="input-group-addon">首</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 5px" ng-show="current_type=='tell'">
                    <label class="col-md-12 col-xs-12">
                        播报内容：<textarea ng-model="current_task.args[0]" maxlength="1000" class="form-control" ></textarea>
                    </label>
{#                    <label class="col-md-2  col-xs-12">#}
{#                        音量：<input ng-model="current_task.args[3]" type="number" min="0" max="100" class="form-control">#}
{#                    </label>#}
                    <div class="input-group col-md-4 col-xs-12" ng-hide="current_task.pause_days<0" style="margin-top: 0;padding: 0 15px">
                        <span class="input-group-addon">播报</span>
                        <input class=" form-control" type="number" id="cnt" min="0" ng-model="current_task.args[6]"/>


                        <span class="input-group-addon">次</span>
                    </div>
                </div>

                <div class="form-group" >
                <button type="button" class="btn btn-info" id="play" ng-click="update(current_task)"
                       >

                    {#                    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> #}
                    提交修改
                </button>
                <button type="button" class="btn btn-danger" id="play" ng-click="delete(current_task)" disabled>
                    {#            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> #}
                    删除
                </button>
                    </div>
            </div>


        </div>


        {#        <label>暂停公交报站：</label>#}
        {#        <table class="table table-bordered table-hover text-center">#}
        {#            <thead class="">#}
        {#                <tr >#}
        {#                    <th >#</th>#}
        {#                    <th>暂停一天</th>#}
        {#                    <th>停止</th>#}
        {#                    <th>恢复</th>#}
        {#                </tr>#}
        {#            </thead>#}
        {#            <tbody >#}
        {#                <tr ng-repeat="(b,s) in b_ss">#}
        {#                    <td ><label  ng-bind="b" ></label></td>#}
        {#                    <td><a class="btn btn-warning" ng-disabled="s==1" ng-click="setPauseBus(b,1)">暂停一天</a></td>#}
        {#                    <td><a class="btn btn-danger" ng-disabled="s==-1" ng-click="setPauseBus(b,-1)">停止</a></td>#}
        {#                    <td><a class="btn btn-success" ng-disabled="s==0" ng-click="setPauseBus(b,0)">恢复</a></td>#}
        {#                </tr>#}
        {#            </tbody>#}
        {#        </table>#}
        {#        <div class="btn-group btn-group-justified" role="group">#}
        {##}
        {#            <a class="btn btn-default bus-tell" {% if not _581 %}disabled{% endif %} role="button" content="581">#}
        {#                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>#}
        {#                停报581一天</a>#}
        {#            <a class="btn btn-default bus-tell" {% if not _498 %}disabled{% endif %} role="button" content="498">#}
        {#                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>#}
        {#                停报498一天</a>#}
        {##}
        {#        </div>#}

        {##}
        {#        <div class="form-group">#}
        {#            <label for="textToRead">要播报的内容：</label>#}
        {#            <textarea class="form-control" id="textToRead"></textarea>#}
        {#        </div>#}
        {#     #}
        {#        <button type="button" class="btn btn-primary" id="play">#}
        {##}
        {#            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 播报#}
        {#        </button>#}


    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body" id="msg_body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

{#    <script src="{{ url_for('static',filename = 'js/bootstrap-slider.min.js') }}"></script>#}
    <script>
        function showMsgBox(text) {
                $('#msg_body').text(text);
                $('#modal_msg').modal('show');
            }
        var app = angular.module('configApp',[])//, ['ui.bootstrap'])
{#                .filter('tk2Date', function () {#}
{#                    return function (tk) {#}
{#                        var d = new Date();#}
{#                        d.setHours(tk.hour);#}
{#                        d.setMinutes(tk.min);#}
{#                        return d;#}
{#                    }#}
{#                })#}
                .controller('cfgCtrl', function ($scope, $http) {
                    $scope.group_tasks = {
                        music: [], bus: [], weather: [], read: []
                    };

                    $scope.get_pause_state = function (tk) {
                        var status = "正常";
                        if(!tk) return "";
                        if(tk.pause_days<0) status = "停止";
{#                        if(tk.pause_days=0) return "正常";#}
                        if(tk.pause_days>0) status = "暂停";
                        return "状态："+status;
                    };
                    $scope.set_current_task = function (tk) {
                        $scope.current_task = tk;
                        if($scope.current_task.type=='bus'){
                            $scope.get_bus_status($scope.current_task.args[2])
                        }
                    };
                    $scope.set_current_type = function(type){
                        $scope.current_type = type;
                        if(type=='bus' || type=='music'){
                            $scope.cur_task_list = $scope.group_tasks[type];
                        }else{
                            $scope.cur_task_list = $scope.group_tasks.weather.concat($scope.group_tasks.read);
                        }
                        $scope.set_current_task($scope.cur_task_list[0]);
                    };
                    $scope.update = function(tk){
                        $http.post('../tasks',tk).success(function(date,status){
                            if (status == 200) {
                                showMsgBox("修改成功。")
                            }
                        });
                    };
{#                    $scope.getDate = function (tk) {#}
{#                        var d = new Date();#}
{#                        d.setHours(tk.hour);#}
{#                        d.setMinutes(tk.min);#}
{#                        tk.date = d;#}
{#                    };#}
{#                    $scope.time_changed = function (tk) {#}
{#                        tk.hour = tk.date.getHours();#}
{#                        tk.min = tk.date.getMinutes();#}
{#                    };#}
                    $http.get('../tasks')
                            .success(function (data, status) {
                                if (status != 200) return;
                                $scope.tasks = data['result'];
                                for (var i in $scope.tasks) {
                                    var t = $scope.tasks[i];
                                    $scope.group_tasks[t.type].push(t);
                                    {#                            switch (t.type) {#}
                                    {#                                case 'music':#}
                                    {#                                    $scope.music_tasks.push(t);#}
                                    {#                                    break;#}
                                    {#                                case 'tell_bus':#}
                                    {#                                    $scope.bus_tasks.push(t);break;#}
                                    {#                            }#}
                                }

                                $scope.set_current_type($scope.group_tasks.bus[0].type);
                            });
                    $scope.get_bus_status=function(id){
                        $scope.bus_status = false;
                        $http.get('../bus/'+id).success(function (data, status) {
                                if (status != 200) return;
                                $scope.bus_status = data['result'];
                            });
                    };
                    $scope.set_bus_status=function(status){
                        $http.post('../bus',{'id':$scope.current_task.args[2],'bus_name':$scope.current_task.args[0],'station':$scope.current_task.args[1],'status':status}).success(function (data, status) {
                                if (status != 200) return;
                                $scope.bus_status = $scope.get_bus_status($scope.current_task.args[2]);
                            });
                    };
{#                    $http.get('../bus').success(function (data, status) {#}
{#                                if (status != 200) return;#}
{#                                $scope.bus_status = data['result'];#}
{#                                for (var i in $scope.tasks) {#}
{#                                    var t = $scope.tasks[i];#}
{#                                    $scope.group_tasks[t.type].push(t);#}
                                    {#                            switch (t.type) {#}
                                    {#                                case 'music':#}
                                    {#                                    $scope.music_tasks.push(t);#}
                                    {#                                    break;#}
                                    {#                                case 'tell_bus':#}
                                    {#                                    $scope.bus_tasks.push(t);break;#}
                                    {#                            }#}
{#                                }#}
{#                                $scope.set_bus_t($scope.group_tasks.bus[0])#}
{#                            });#}
                });

{#        app.controller('busCtrl', function ($scope, $http) {#}
{#            $http.post('../bus_status')#}
{#                    .success(function (data, status) {#}
{#                        if (status != 200) return;#}
{#                        $scope.b_ss = data;#}
{#                    });#}
{#            $scope.setPauseBus = function (bus, day) {#}
{#                if ($scope.b_ss[bus] == day) return;#}
{#                $http({#}
{#                    url: '../pause-bus',#}
{#                    method: "POST",#}
{#                    data: $.param({bus: bus, days: day}),#}
{#                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}#}
{#                }).success(function (data, status) {#}
{#                    //alert(status);#}
{#                    if (status == 200) {//btn.addClass('disabled');#}
{#                        $scope.b_ss[bus] = day;#}
{#                    }#}
{#                });#}
{#            }#}
{##}
{#        });#}
{#        $(document).ready(function () {#}
{#            $('.bus-tell').click(function () {#}
{#                var btn = $(this);#}
{#                if (btn.attr('disabled')) return false;#}
{#                var d = {#}
{#                    bus: $(this).attr('content'),#}
{#                    days: 1#}
{#                };#}
{#                $.post('../pause-bus', d, function (x, y) {#}
{#                    if (!x) btn.addClass('disabled');#}
{#                });#}
{##}
{#            });#}
{##}
{#        });#}
    </script>
{% endblock %}