{% extends "base.html" %}
{% block style %}
    <style>
        ul.pager {
            margin-top: 30px;
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block main_content %}

    <div class="page-header row">

        <div class="col-md-2 col-xs-6">
            <h1>
                <span class="label label-default ">{{ file_name }}</span>

            </h1>
        </div>
        <div class="col-md-10 col-xs-6">
            <ul class="pager">

                <li class="next"><a href="/log/{{ next }}">下一个</a></li>

            </ul>
        </div>
    </div>

    <pre class="panel-body">{{ log_text }}</pre>

    {% if pages %}
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in pages %}
                    <li><a href="#">{{ i }}</a></li>
                {% endfor %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

