{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>播报页面</h1>
        </div>
        <div class="input-append">
            <form>
                <div class="row">
                    <label for="tellTime" class="col-md-3">
                        <input type="button" class="btn btn-default" id="tellTime" value="现在时间">
                    </label>
                    <label for="tellWeather" class="col-md-3">
                        <input type="button" class="btn btn-default" id="tellWeather" value="今日天气">
                    </label>
                </div>
                <p ></p>
                <div class="form-group">
                    <label for="textToRead">要播报的内容：</label>
                    <textarea class="form-control" id="textToRead" ></textarea>
                </div>
                {##}
                {#            <div class="checkbox">#}
                {#                <label>#}
                {#                    <input type="checkbox"> Check me out#}
                {#                </label>#}
                {#            </div>#}
                <input type="submit" formmethod="post" class="btn btn-default"
                       id="play" value="播　报">
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}{{ super() }}
    <script>
        $(document).ready(function () {
            $('#tellTime').click(function(){
                $.get('../time',undefined)
            });
            $('#tellWeather').click(function(){
                $.get('../weather',undefined)
            });
            $('#play').click(function () {
                var txt = $('#textToRead').val();
                if (!txt) {
                    alert("请输入要播报的文字。");
                    return false
                }
                var d = {text:txt,per:3};
                $.post('../read',d,function (x,y) {

{#                        $('#contact_form').html("<div id='message'></div>");#}
{#                        $('#message').html("<h2>Contact Form Submitted!</h2>")#}
{#                                .append("<p>We will be in touch soon.</p>")#}
{#                                .hide()#}
{#                                .fadeIn(1500, function () {#}
{#                                    $('#message').append("<img id='checkmark' src='images/check.png' />");#}
{#                                });#}

                });
{#                $.ajax('../read', function (data, status) {#}
{#                    alert("Data: " + data + "\nStatus: " + status);#}
{#                });#}
                return false
            });

        });
    </script>
{% endblock %}