{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <style>
        .btn-group {
            margin: 10px 0
        }

        #sexRadios {
            margin: 10px 0 0 0
        }

        .slider {
            margin: 10px 0
        }
    </style>
{% endblock %}
{% block main_content %}

    <div class="page-header">
        <h1>播报页面</h1>
    </div>
    <div ng-app="readApp" ng-controller="readCtrl">

        <div id="div-setting">
            <label class="large">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                播报设置：</label>
            <div class="row">
                <label class="col-md-6">
                    音量　<input class="slider" id="vol" data-slider-min="1" data-slider-value="10">
                </label>
                <label class="col-md-6">
                    音调　<input class="slider" id="pit" data-slider-min="1" data-slider-value="6">
                </label>
            </div>
            <div class="row">
                <label class="col-md-6">
                    速度　<input class="slider" id="spd" data-slider-min="1" data-slider-value="6">
                </label>
                <label class="col-md-6" id="sexRadios">
                    性别　
                    <span class="radio-inline">
                        <label>
                            <input type="radio" name="sexRadios" class="sex" value="2" checked>
                            随机　
                        </label>
                    </span>
                    <span class="radio-inline">
                        <label>
                            <input type="radio" name="sexRadios" class="sex" value="1">
                            男　</label>
                    </span>
                    <span class="radio-inline">
                        <label>
                            <input type="radio" name="sexRadios" class="sex" value="0">
                            女　
                        </label>
                    </span>

                </label>

            </div>
            <hr/>

        </div>


        <div class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" role="button" id="tellTime">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                现在时间</a>
            <a class="btn btn-info" role="button" id="tellWeather">
{#                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>#}
                今日天气</a>
            {#                <div class="btn-group" role="group">#}
            {#                    <button type="button" class="btn btn-default"  id="tellTime">#}
            {#                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>#}
            {#                        现在时间#}
            {#                    </button>#}
            {#                </div>#}
            {#                <div class="btn-group" role="group">#}
            {#                    <button type="button" class="btn btn-default" id="tellWeather">#}
            {#                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>#}
            {#                        今日天气#}
            {#                    </button>#}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    一周天气
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="dd in days"><a ng-click="tellWeather($index)">{{dd['m'] +"月"+ dd['d']+"日，星期"+ dd['w']}}</a></li>

                </ul>
            </div>
        </div>
        {#                    <div class="btn-group" role="group">#}
        {#                        <button type="button" class="btn btn-default">Right</button>#}
        {#                    </div>#}
        {#            </div>#}
        {#                        <button type="button" class="btn btn-default" id="tellTime">现在时间</button>#}
        {##}
        {##}
        {#                        <button type="button" class="btn btn-default" id="tellWeather">今日天气</button>#}


        <div class="form-group">
            <label for="textToRead">要播报的内容：</label>
            <textarea class="form-control" id="textToRead" ng-model="text"></textarea>
        </div>
        {##}
        {#            <div class="checkbox">#}
        {#                <label>#}
        {#                    <input type="checkbox"> Check me out#}
        {#                </label>#}
        {#            </div>#}
        <button type="button" class="btn btn-primary" id="play" ng-click="read()" ng-disabled="loading">

            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 播报
        </button>
        <button type="button" class="btn btn-warning" id="play" ng-click="text=''">
            {#            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> #}
            清空
        </button>


        <div class="checkbox">
            <label>
                <input id="delay-chk" ng-model="delay_chk" type="checkbox" >定时
            </label>
            <!-- Small button group -->
            <div class="btn-group dropup"  >
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" ng-disabled = "!delay_chk">
                     <span id="delay-sec" ng-bind="delay_time"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="t in default_secs"><a ng-click="set_delay_time($index)">{{t[1]}} &nbsp; | &nbsp; {{t[0]}}</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a ><input class="form-control input-sm" ng-model="delay_time" type="text" /></a></li>
                </ul>
            </div>
            秒
        </div>


    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body" id="msg_body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script src="{{ url_for('static',filename = 'js/bootstrap-slider.min.js') }}"></script>
    <script>
        function showMsgBox(text) {
            $('#msg_body').text(text);
            $('#modal_msg').modal('show');
        }

        week = '日一二三四五六';
        /**
         * @return {string}
         */
        function GetDateStr(addDayCount) {
            //var dd = new Date();
            var dd = new Date(new Date().getTime() + 24*60*60*1000*addDayCount);
            //dd.setDate(dd.getDate() + addDayCount);//获取AddDayCount天后的日期
            var y = dd.getFullYear();
            var m = dd.getMonth() + 1;//获取当前月份的日期
            var d = dd.getDate();
            var w = dd.getDay();
            return {y:y, m:m, d:d, w:week[w]};
        }
        function getSetting() {
                var vol = $('#vol').slider('getValue') - 1;
                var pit = $('#pit').slider('getValue') - 1;
                var spd = $('#spd').slider('getValue') - 1;
                var per = $('.sex:checked').val();
                return {per: per, vol: vol, pit: pit, spd: spd};
        }
        var app = angular.module('readApp', []);
        app.controller('readCtrl', function ($scope, $http) {
            $scope.days = [];
            for (var i = 1; i < 7; i++) {
                $scope.days.push(new GetDateStr(i));
            }
            $scope.tellWeather = function (idx) {
                d = getSetting();
                d['idx'] = idx + 1;
                $http({
                    url: '../weather',
                    method: "POST",
                    data:  $.param(d),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                });
                //$http.post('../weather', getSetting());
            };

            $scope.delay_time = 90;
            secs = [30,60,90,120,300,600,1800,3600];
            sec_names = ['半分钟','一分钟','一分半','两分钟','五分钟','十分钟','半小时','一小时'];

            $scope.default_secs = [];
            for (var i2=0;i2<secs.length;i2++){
                $scope.default_secs[i2] = [secs[i2],sec_names[i2]];
            }
            $scope.set_delay_time = function (idx) {
                $scope.delay_time = secs[idx];
                if(!$scope.text) $scope.text = '定时时间到';
            };

            $scope.read = function () {
                if (!$scope.text) {
                    showMsgBox('请输入要播报的文字。');
                    return false;
                }
                d = getSetting();
                d['text'] = $scope.text;
                if($scope.delay_chk) d['delay_sec'] = $scope.delay_time;
                $scope.loading = true;
                $http({url: '../read',
                        method: "POST",
                        data:d})
                        .success(function (x,y) {
                            if(x && y==200){
                                showMsgBox(x);
                            }
                            if(y!=200){
                                showMsgBox('错误：'+y);
                            }
                            $scope.loading = false;
                        });
            };

        });


        $(document).ready(function () {





            // Instantiate a slider
            var mySlider = $("input.slider").slider();
            {#            for(var i in mySlider){#}
            {#                mySlider[i].attr('data-slider-min',1);#}
            {#            }#}
            //$('#vol').slider('setValue',9);
            {##}
            {#            // Call a method on the slider#}
            {#            var value = mySlider.slider('getValue');#}
            {##}
            {#            // For non-getter methods, you can chain together commands#}
            {#            mySlider#}
            {#                    .slider('setValue', 5)#}
            {#                    .slider('setValue', 7);#}


            $('#tellTime').click(function () {
                var d = getSetting();
                $.post('../time', d);
            });
            $('#tellWeather').click(function () {
                var d = getSetting();
                $.post('../weather', d);
            });


{#            $('#play').click(function () {#}
{#                return false;#}
{#                var txt = $('#textToRead').val();#}
{#                if (!txt) {#}
{#                    $('#msg_body').text('请输入要播报的文字。');#}
{#                    $('#modal_msg').modal('show');#}
{#                    alert("请输入要播报的文字。");#}
{#                    return false;#}
{#                }#}
{##}
{#                $('#play').addClass('disabled');#}
{#                var d = getSetting();#}
{#                d['text'] = txt;#}
{#                if($('#delay-chk').prop('checked'))#}
{#                    d['delay_sec'] = $('#delay-sec').text();#}
{#                $.post('../read', d, function (x, y) {#}
{#                    $('#play').removeClass('disabled');#}
                    {#                        $('#contact_form').html("<div id='message'></div>");#}
                    {#                        $('#message').html("<h2>Contact Form Submitted!</h2>")#}
                    {#                                .append("<p>We will be in touch soon.</p>")#}
                    {#                                .hide()#}
                    {#                                .fadeIn(1500, function () {#}
                    {#                                    $('#message').append("<img id='checkmark' src='images/check.png' />");#}
                    {#                                });#}
{##}
{#                });#}
                {#                $.ajax('../read', function (data, status) {#}
                {#                    alert("Data: " + data + "\nStatus: " + status);#}
                {#                });#}
{#                return false#}
{#            });#}

        });
    </script>
{% endblock %}