
/venv
# Created by .ignore support plugin (hsz.mobi)
/tmp
/music_files
/log
/.idea
*.pyc
*.py.bak
Thumbs.db

# 保存的设置和配置
/local/*.ini
/local/*.json

# vscode 相关配置
/.vscode/
/.editorconfig

